---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dorgan">

	<main class="w-screen h-screen flex snap-x snap-mandatory overflow-x-scroll bg-black overflow-y-hidden font-sans">

		<section class="h-screen w-screen md:flex snap-always snap-center flex-none grid grid-cols-1 grid-rows-2">

			<div class="h-full md:h-screen w-screen md:w-1/2 bg-cream-light place-items-center px-5 py-5 grid">

				<img class="h-max w-2/3" src="/assets/logo.webp" alt="logo">
				<p class="text-center text-gray-900 italic">Empresa argentina especializada en producción de semillas de Alfalfa</p>
				<div class="gap-5 flex">
					<button class="bg-cream rounded-full p-3 custom-border border-2 h-14 w-14 filter hover:invert active:scale-95 transition-all duration-150 ease-in-out hover:scale105"><a class="text-gray-900"><img src="/assets/whatsapp.webp"></a></button>
					<button class="bg-cream rounded-full p-3 custom-border border-2 h-14 w-14 hover:invert active:scale-95 transition-all duration-150 ease-in-out hover:scale105"><a class="text-gray-900"><img src="/assets/maps.webp"></a></button>
				</div>

			</div>

			<div class="h-full md:h-screen w-screen md:w-1/2 bg-red-200 relative grid">

				<img class="h-auto w-max" src="/assets/alfalfa17.webp"></img>
				<button class="h-10 w-24 italic text-gray-900 rounded-full custom-border border-2 bg-cream absolute justify-self-center place-self-end mb-3 animate-bounce">Deslizá ➜</button>

			</div>

		</section>

		<section class="h-screen w-screen md:flex snap-always snap-center flex-none grid grid-cols-1 grid-rows-3">
			
			<div class="h-full md:h-screen w-screen md:w-1/2 overflow-hidden gird place-items-center p-5 bg-cream-light row-span-1">
				
				<img class="w-auto h-max" src="/assets/alfalfa21.webp"></img>
				
			</div>
			
			<div class="h-full md:h-screen w-screen md:w-1/2 bg-cream-light px-8 pb-10 grid place-items-center relative row-span-2">
				
				<p class="text-md text-gray-900 text italic">
					Somos una empresa argentina especializada en la producción de semillas de Alfalfa. Comenzamos nuestra actividad hace más de 20 años en Niquivil, departamento de Jáchal, Provincia de San Juan.
					<br>
					Nuestras Alfalfas están producidas en un ambiente perfecto, al pie de nuestra cordillera andina, con precipitaciones de apenas 60mm al año permitiéndonos el manejo total de floración, estrés hídrico, polinización cruzada y cosecha, logrando una CALIDAD INSUPERABLE.
				</p>
				<button class="h-10 w-24 italic text-gray-900 rounded-full custom-border border-2 bg-cream absolute justify-self-center place-self-end mb-3 animate-bounce">Galeria ➜</button>
			
			</div>

		</section>

		<section class="h-screen w-screen md:flex snap-always snap-center flex-none grid grid-cols-1 grid-rows-3 bg-cream-light p-5 gap-3">
			
			<div class="h-auto w-fit overflow-hidden flex place-items-center"><img src="/assets/alfalfa22.webp"></div>
			<div class="h-auto w-fit overflow-hidden flex place-items-center"><img src="/assets/alfalfa15.webp"></div>
			<div class="h-auto w-fit overflow-hidden flex place-items-center"><img src="/assets/alfalfa16.webp"></div>
		
		</section>

	</main>

</Layout>

<style>
	.bg-cream-light {
		background-color: rgb(253, 255, 255);
	}
	.bg-cream {
		background-color: rgb(253, 253, 243);
	}
	.custom-border {
		border-color: rgb(79, 96, 40);
	}
</style>